<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paulk.MusicTutorApp">

    <application
        android:name="com.example.paulk.MusicTutorApp.MyMusicTutorApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.paulk.MusicTutorApp.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.paulk.MusicTutorApp.MainMenuActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar">

        </activity>

        <activity
            android:name="lessons.LessonsActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <activity
            android:name=".ChordChartActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name="com.example.paulk.MusicTutorApp.PracticalSupportActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name="com.example.paulk.MusicTutorApp.TunerActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name="tests.Level1TestActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name="tests.ResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.example.paulk.MusicTutorApp.MyProgressActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.example.paulk.MusicTutorApp.StrummingPatternsActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.example.paulk.MusicTutorApp.MetronomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />


    </application>

</manifest>